@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

maxWidth = 40em

fontSize = 18px
linkColor = #f00
backgroundColor = #fff
textColor = #333


yellow = rgba(255, 255, 0, 0.76)
cyan = rgba(0, 255, 255, 0.76)
magenta = rgba(255, 0, 255, 0.76)


@keyframes cycle
  0%
    background yellow
  33%
    background cyan
  66%
    background magenta
  100%
    background yellow

    
html
  margin 0
  background-image url("../images/ddd.jpg")

body
  font-size fontSize
  font-family: 'Inter UI', sans-serif
  // font-family: 'IBM Plex Sans', sans-serif;
  line-height 1.5
  background backgroundColor
  color textColor
  max-width maxWidth
  animation cycle 120s infinite
  margin auto
  text-align center


ul
  list-style-type none
  padding 0

li
  margin 0
  

img
  max-width 100%

nav
  font-size 2em
  margin 0
  padding 0



nav ul
  display grid
  grid-template-rows 1fr
  margin 0

// nav a
//   text-transform uppercase  
  
nav ul li:first-child  
  margin-bottom 2em



a
  text-decoration none

main
  display grid
  grid-template-columns 4fr
  grid-gap 2em
  margin-bottom 4em
  
section
  margin-bottom 4em
  padding 0 2em
  
iframe  
  border 0 
  max-width 100% 
  height 425px 
  margin-bottom 4em
  
footer
  margin 4em 0
  padding 4em
  background white
    
footer ul
  display grid
  grid-template-columns repeat(3, 1fr)
  
footer ul li 
  justify-self center 
  align-self center 
  padding 2em

footer img 
  max-width 8em 
  max-height 4em
    
h1, h2, h3, h4, h5, h6
  margin-top 0

/* Custom Classes */

#logos
  padding 2em 0
  display grid
  grid-template-columns repeat(4, 1fr)
  height 2em

#logos img
  max-width 4em
  
#logos a
  justify-self center



.modules li
  margin-bottom 2em
  padding 2em
  
.flesh li,
.modules li:nth-child(odd)  
  background rgba(255, 255, 255, 0.1)


.flesh li,
.modules li:nth-child(even)  
  background rgba(255, 255, 255, 0.1)


.modules img
  max-width 70%
  max-height 30em


.homos
  display grid
  grid-template-columns 1fr 1fr
 

.homos img
  height 10em
  width 10em 
  
.blurb p, p
  margin-top 0
  padding-top 0  

p+*
  margin 4em 0
  