<div class="blurb">
  <p>
    JUJU is a Human Synthesiser made by <a href="http://BRUD.xyz">BRUD</a>. JUJU is built from modules called <em>Homo Modulus</em> that are touch-sensitive, can be gesture-patched, are vocoders, and have an array of ins and outs. The music of the <em>Homo Modulus</em> is called <em>Modular Folk</em>.
  </p>

  <p>
  	JUJU lives at:<br> 
  	<a href="http://ribrib.nl">Rib</a><br>
	Katendrechtse Lagedijk 490B<br>
	3082 GJ Rotterdam— NL<br>
  </p>	

  <p>
  	Next up:<br>
  	
  </p>

  </p>
</div>