<h3>Juju in the Flesh</h3>


{{ range sort .Site.Data.events ".vernissage" "asc" }}
<ul class="flesh">
      <li><b><em>{{ .title }}</em></b></li>
      <li>{{ .artists }}</li>
      <li>{{ dateFormat "2 January 2006" .vernissage }}</li>
</ul>
{{ end }}

