<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ .Site.Params.description }}">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ "css/juju.css" | relURL}}">
        <title>{{ if .Page.Params.title }}{{ .Page.Params.title }} | {{ end }} Juju by Brud</title>
    </head>
    <body>
