<div id="logos">
<!-- 	<a href="/"><img src="/images/ambisonics.png"></a>
	<a href="/"><img src="/images/oloid.png"></a>
	<a href="/"><img src="/images/rib.png"></a>
	<a href="/"><img src="/images/buio.png"></a>
 --></div>