<h3>Homo Modulus</h3>

<ul class="modules">
  {{ range sort .Site.Data.modules ".name" "desc"}}
      <li><a id="{{ .name }}"></a>
        <h3>{{ .name }}{{ if .link}}<a href="{{ .link }}"> → </a>{{ end }}</h3>
        {{ if .pic }}<img src={{ .pic }} />{{ end }}
        <p>{{ .bio }}</p>
      </li>
  {{ end }}
</ul>

