<nav>
	<ul>
		<li><a href="/">JUJU</a> by <a href="http://BRUD.xyz">BRUD</a></li>
<!-- 		<li><a href="/radio">Radio JUJU</a></li>
		<li><a href="/tv">JUJU TV</a></li>
 -->		<!-- <li><a href="#flesh">JUJU Flesh</a></li> -->
		<!-- <li><a href="#ping-pong">JUJU Ping-Pong</a></li> -->
		<!-- <li><a href="#modules"><em>Homo Modulus</em></a></li> -->
		<!-- <li><a href="#about">About</a></li> -->

	</ul>

</nav>