{{ partial "header" . }} 
{{ partial "logo" . }} 


<main>
	<div>
		{{ partial "nav" . }} 
		<section>{{ .Content }}</section>
		<section id="flesh">{{ partial "flesh" .}}</section>
		<section id="modules">{{ partial "modules" .}}</section>
		<section id="about">{{ partial "about" .}}</section>
	</div>
</main>

{{ partial "footer" .}}
