<div class="embed video-player">

<iframe src="https://bandcamp.com/EmbeddedPlayer/album={{ index .Params 0 }}/size=large/bgcol=ffffff/linkcol=de270f/tracklist=false/artwork=small/transparent=true/" height="240" width="320" seamless=""></iframe>


</div>